// Custom Styles Go here!

// Import vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less"; 

// Sites
@import "sites/home.import.less";

// Miscellaneous

body {
  background-color: @gray-lightest;
  padding-top: @navbar-padding;

}

h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  text-decoration: none;
}

.fa-li {
  color: @gray-light;
}

.row {
  margin: 0px;
  margin-left: @padding-base-horizontal*-1;
}

.listIconTail {
  text-indent: 0px;
  font-size: 100%;
}


// Home Search

.search-label {
  display: inline-block;
  text-align: center;
}

// Links

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}


// Nav

@navbar-padding: 70px;

.navbar {
  box-shadow: 0px 3px 3px @gray-light;
}


// Vertical Dividers

.border-right, .border-left, .border-both {
    position: relative;
}
.border-left:before, .border-right:after {
    position: absolute;
    content:'';
    height: auto;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid @gray-light;
    width: 0;
}
.border-left:before { left: -1px; }
.border-right:after { right: 0px; }


// Main

.main h5 {
  color: @brand-primary-dark;
}


// Sidebar

.sidebar .card {
    padding: @padding-base-vertical*2 @padding-base-horizontal*2;
}

.checkbox {
  padding: @padding-base-vertical/2 @padding-base-horizontal/2;
  margin: 0px;
  color: @gray;
  display: inline-block;
  cursor: pointer;
}

.checkbox:hover {
  color: @gray-dark;
}

.fa-square {
  color: @gray-lighter;
  cursor: inherit;
}

.fa-square:hover {
  color: @gray-lighter;
}

.sidebarList {
  font-size: @font-size-small;
}

.sidebarColLeft {
  padding-top: @padding-base-vertical;
  vertical-align: top;
}

.sidebarColMid {
 width: 170px;
 padding: @padding-base-vertical 0px 0px @padding-base-horizontal;
 vertical-align: top;
}

.sidebarColRight{
  padding-top: @padding-base-vertical;
  vertical-align: top;
}

// Cards

.card {
  padding: @padding-base-vertical*4 @padding-base-horizontal*4;
  margin: @padding-base-vertical*2 @padding-base-horizontal*-1 @padding-base-vertical*2 @padding-base-horizontal;
  box-shadow: 0px 2px 2px @gray-light;
  background-color: #ffffff;
  overflow: hidden;
}

.cardTitle {
  border-bottom: 1px solid @brand-primary;
  padding-bottom: @padding-base-vertical;
}

.skill-wrapper {
  /*display: inline-block;*/
}

.label {
  display: inline-block;
}

.hr {
  background-color: @gray-light;
  height: 1px;
  margin: @padding-base-vertical*4 0px;
}

.query-link {
  cursor: pointer;
}


// Tags

.tags-wrapper li {
  display: inline-block;
}

.industryTag {
  color: @gray-dark;
  background-color: @brand-primary-light;
  font-size: 90%;
  line-height: 3;
  padding: @padding-base-vertical @padding-base-horizontal;
  margin-right: @padding-base-horizontal;
  border-radius: @border-radius-small;
}

.industryTag:hover{
  color: @brand-primary;
  background-color: @brand-primary-lighter;
}

// Pinning

.pin {
  font-size: 80%;
  padding: @padding-base-vertical @padding-base-horizontal;
  color: @gray-light;
  cursor: pointer;

}

.pin:hover {
  color: @gray;
}

.pinSelected {
  font-size: 80%;
  padding: @padding-base-vertical @padding-base-horizontal;
  color: @brand-primary;
  cursor: pointer;

}

.xRemove {
  color: #fff;
  padding: @padding-base-vertical/2 @padding-base-horizontal;
  cursor: pointer;
}

li:hover .xRemove {
  color: @gray-light;
}

li .xRemove:hover {
  color: @gray;
}


// Home Search

.search-label {
  display: block;
  text-align: center;
}

.cta-search-box {
  padding: 50px 0px;
  box-shadow: 0px 2px 10px @gray-light;
  background-color: #ffffff;
  margin-top: 120px;                      // need to figure out better vertical positioning
}
.opts {
  padding: 0;
  margin: 0;
  text-align: center;
}

.opts li {
  font-size: @font-size-h4;
  display: inline-block;
  padding: @padding-base-vertical @padding-base-horizontal*2;
  margin: @line-height-computed/2 @line-height-computed*2;
  cursor: pointer;
}

.optSelected {
  color: #fff;
  background-color: @brand-primary;
}


// Results

.results .card {
  padding: @padding-base-vertical*4 @padding-base-horizontal*2;
}

.resultBox {
  padding: @padding-base-vertical 0px;
  border-bottom: 1px solid @gray-light; 
}

.resultsHeader {
  margin: 0px; 
  padding: 12px 12px 12px 0px;
}

.resultTitle {
  display: inline-block;
}

.resultCount{
  margin: @padding-base-vertical 0px;
}

.showMore {
  background: none;
  border: none;
  text-align: center;
}

.showMore h6 {
  margin-bottom: @padding-base-vertical;
}

.showMore:hover h6 {
  color: @brand-primary;
}

.showMore .fa {
  color: @brand-primary;
}

.showMore:hover .fa {
  color: @brand-primary-dark;
}


// View Career

.sectionTitle {
  padding-top: @padding-base-vertical*2;
  padding-bottom: @padding-base-vertical*4;
}

.titleSubSection {
  padding: @padding-base-vertical*6 0px;
}

.sourceBox {
  background: @gray-lightest;
  border: 1px solid @gray-lighter;
  box-shadow: -6px 0px @brand-primary;
  padding: @padding-base-vertical*2 @padding-base-horizontal*2 @padding-base-vertical*4;
  margin: @padding-base-vertical*4 0px;

}

.subSection {
  padding-bottom: @padding-base-vertical*10;
}

.subSection .longListItem {
  margin-bottom: @padding-base-vertical*4;
}

.sourceBox span {
  font-size: @font-size-small;
}

// Compare

.compare h2, .compare h3, .compare h5 {
  text-align: center;
}

.compare .card {
  padding: @padding-base-vertical*4 @padding-base-horizontal*2;
}

// Transitions

.colorTransFast {
  transition: color 300ms, background-color 300ms;
}
