// Custom Styles Go here!

// Import vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less";

// Sites
@import "sites/home.import.less";

@navbar-padding: 70px;

// Miscellaneous

body {
  padding-top: @navbar-padding;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}
