// Custom Styles Go here!

// Import vendors
@import "vendor/custom.bootstrap.mixins.import.less";
@import "vendor/custom.bootstrap.import.less";

// Components
@import "components/a_component.import.less";

// Globals
@import "typo.import.less"; 

// Sites
@import "sites/home.import.less";

@navbar-padding: 70px;

// Miscellaneous

body {
  background-color: @gray-lightest;
  padding-top: @navbar-padding;

}

h2 {
  font-weight: normal;
}

.titleSection {
  border-bottom: 1px solid @brand-primary;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.row {
  margin: 0px;
  margin-left: @padding-base-horizontal*-1;
}

.titleSection {
  border-bottom: 1px solid @brand-primary;
}

// Home Search

.search-label {
  display: block;
  text-align: center;
}

.cta-search-box {
  padding: 50px 0px;
  box-shadow: 0px 2px 10px @gray-light;
  background-color: #ffffff;
  margin-top: 120px;                      // need to figure out better vertical positioning
}
.opts {
  padding: 0;
  margin: 0;
  text-align: center;
}

.opts li {
  font-size: @font-size-h4;
  display: inline-block;
  padding: @padding-base-vertical @padding-base-horizontal*2;
  margin: @line-height-computed/2 @line-height-computed*2;
  cursor: pointer;
}

.optSelected {
  color: #fff;
  background-color: @brand-primary;
}

/*div.container {
}*/

/*.content-wrapper {
}*/

// Cards

.card {
  padding: @padding-base-vertical*2 @padding-base-horizontal*2;
  margin: @padding-base-vertical*2 @padding-base-horizontal*-1 @padding-base-vertical*2 @padding-base-horizontal;
  box-shadow: 0px 2px 2px @gray-light;
  background-color: #ffffff;
}

.skill-wrapper {
  /*display: inline-block;*/
}

.tags-wrapper {
  /*display: inline-block;*/
}

.label {
  display: inline-block;
}

// Sidebar

.sidebar {
    
}

// Results

.result-box {
  padding: @padding-base-vertical*2 @padding-base-horizontal*2;
  border-bottom: 1px solid @gray-light; 
}

.resultTitle {
  display: inline-block;
}

// Pinning

.pin {
  font-size: 80%;
  padding: @padding-base-vertical @padding-base-horizontal;
  color: @gray-light;
  cursor: pointer;

}

.pinSelected {
  font-size: 80%;
  padding: @padding-base-vertical @padding-base-horizontal;
  color: @brand-primary;
  cursor: pointer;

}

.xRemove {
  color: #fff;
  padding: @padding-base-vertical @padding-base-horizontal;
  margin: 0px @padding-base-horizontal;
}

li:hover .xRemove {
  color: @gray-light;
}

li .xRemove:hover {
  color: @brand-danger;
}

// Compare

.checkbox {
  padding: @padding-base-horizontal/2;
  margin: 0px;
  color: gray;
  display: inline-block;
}

// Transitions

.colorTransFast {
  transition: color 300ms;
}
