
<div class="row ">

<!-- SIDEBAR -->

  <div ng-include="'client/templates/sidebar.ng.html'"></div>

<!-- MAIN -->

  <div class="col-xs-9">
    
    <!-- CAREER COMPARISON -->

    <div class="row compare">

      <div class="card">

        <!-- HEADER -->
        <div class="row">
          <h2 class="cardTitle col-xs-10 col-xs-offset-1">Compare Careers</h2>
        </div>

        <!-- TITLES -->
        <div class="row">
          <div class="col-xs-6">
            <a ui-sref="careerView({careerId: career1._id})" ng-click="viewCareer(career1.standardized_title, career1._id)">
            <h3>{{career1.standardized_title}}</h3>
            </a>
          </div>
          <div class="col-xs-6">
            <a ui-sref="careerView({careerId: career2._id})" ng-click="viewCareer(career2.standardized_title, career2._id)">
            <h3>{{career2.standardized_title}}</h3>
            </a>
          </div>
        </div>

        <!-- ACTIVITIES -->
        <div class="row">
          <div class="col-xs-12">
            <h5 class="anchor" id="anchor-activities">ACTIVITIES</h5>
          </div>

          <!-- Left Column -->
          <div class="col-xs-6 subSection border-right col-left" ng-init="activityLimit = 4">
            <ul>
              <li ng-repeat="activity in career1.work_activities.activities | limitTo: activityLimit" class="longListItem">
                {{activity}}
              </li>
            </ul>
            <a role="button" class="showMoreCareerInfo" ng-hide="career1.work_activities.activities.length <= activityLimit" ng-click="activityLimit = 30">
              show all activities
              <span class="fa fa-chevron-down"></span>
            </a>
            <a href="#anchor-activities" role="button" class="showMoreCareerInfo" ng-show="activityLimit == 30" ng-click="activityLimit = 4">
              show fewer activities
              <span class="fa fa-chevron-up"></span>
            </a>
          </div>

          <!-- Right Column -->
          <div class="col-xs-6 subSection border-left col-right" ng-init="activityLimit = 4">
            <ul>
              <li ng-repeat="activity in career2.work_activities.activities | limitTo: activityLimit" class="longListItem">
                {{activity}}
              </li>
            </ul>
            <a role="button" class="showMoreCareerInfo" ng-hide="career2.work_activities.activities.length <= activityLimit" ng-click="activityLimit = 30">
              show all activities
              <span class="fa fa-chevron-down"></span>
            </a>  
            <a href="#anchor-activities" role="button" class="showMoreCareerInfo" ng-show="activityLimit == 30" ng-click="activityLimit = 4">
              show fewer activities
              <span class="fa fa-chevron-up"></span>
            </a>
          </div>

        </div>

        <!-- SKILLS -->
        <div class="row">
          <div class="col-xs-12">
            <h5>SKILLS</h5>
          </div>

          <!-- Left Column -->
          <div class="col-xs-4 subSection text-center">
            <h4>{{career1.standardized_title}}</h4>
            <ul>
                <li ng-repeat="skill in skills1 | orderBy: '-count' | limitTo: 20">
                  {{skill}}</li>
            </ul>
          </div>

          <!-- Middle Column -->
          <div class="col-xs-4 subSection text-center" ng-init="intersection = skillIntersection(career1.skills, career2.skills)">
            <h4>Both Careers</h4>
            <ul>
                <li ng-repeat="skill in skillsIntersect">
                  {{skill}}</li>
            </ul>
          </div>

          <!-- Right Column -->
          <div class="col-xs-4 subSection text-center">
            <h4>{{career2.standardized_title}}</h4>
            <ul>
                <li ng-repeat="skill in skills2 | orderBy: '-count' | limitTo: 20">
                  {{skill}}</li>
            </ul>
          </div>

        </div>

        <!-- INDUSTRIES -->
        <div class="row">
          <div class="col-xs-12">
            <h5>INDUSTRIES</h5>
          </div>

          <!-- Left Column -->
          <div class="col-xs-6 subSection border-right col-left">
            <ul>
                <li ng-repeat="category in career1.categories | limitTo: 10" >
                  <a class="industryTag colorTransFast" ng-click="setQuery(category.name)" aria-label="search for {{category.name}}" ui-sref="results({queryString: queryStringURL})">
                    {{category.name}} {{category.count}}
                  </a>
                </li>
            </ul>
          </div>

          <!-- Right Column -->
          <div class="col-xs-6 subSection border-left col-right">
            <ul>
                <li ng-repeat="category in career2.categories | limitTo: 10" >
                  <a class="industryTag colorTransFast" ng-click="setQuery(category.name)" aria-label="search for {{category.name}}" ui-sref="results({queryString: queryStringURL})">
                    {{category.name}} {{category.count}}
                  </a>
                </li>
            </ul>
          </div>
        </div>

        <!-- WORK CONTEXT -->
        <div class="row">
          <div class="col-xs-12">
            <h5 class="anchor" id="anchor-context">WORK CONTEXT</h5>
          </div>

          <!-- Left Column -->
          <div class="col-xs-6 subSection border-right col-left" ng-init="contextLimit = 4" ng-hide="onetIsNull(career1.onet_titles[0].name)">
            <ul>
              <li ng-repeat="context in career1.work_context.top_work_contexts | limitTo: contextLimit" class="longListItem">
                {{context}}</li>
            </ul>
            <a role="button" class="showMoreCareerInfo" ng-hide="career1.work_context.top_work_contexts.length <= contextLimit" ng-click="contextLimit = 20">
              show more
              <span class="fa fa-chevron-down"></span>
            </a>
            <a href="#anchor-context" role="button" class="showMoreCareerInfo" ng-show="contextLimit == 20" ng-click="contextLimit = 4">
              show less
              <span class="fa fa-chevron-up"></span>
            </a>
          </div>

          <div class="col-xs-6 border-right noOnetCompare col-left" ng-show="onetIsNull(career1.onet_titles[0].name)">
            <div>
              <h5>No Data</h5>
              <p>Sorry, we don't have this data for 
                <strong>{{career1.standardized_title}}</strong>.</p>
              <p><a href="">Read more about our data sources</a>.</p>
            </div>
          </div>

          <!-- Right Column -->
          <div class="col-xs-6 subSection border-left col-right" ng-init="contextLimit = 4" ng-hide="onetIsNull(career2.onet_titles[0].name)">
            <ul>
              <li ng-repeat="context in career2.work_context.top_work_contexts | limitTo: contextLimit" class="longListItem">
                {{context}}</li>
            </ul>
            <a role="button" class="showMoreCareerInfo" ng-hide="career2.work_context.top_work_contexts.length <= contextLimit" ng-click="contextLimit = 20">
              show more
              <span class="fa fa-chevron-down"></span>
            </a>
            <a href="#anchor-context" role="button" class="showMoreCareerInfo" ng-show="contextLimit == 20" ng-click="contextLimit = 4">
              show less
              <span class="fa fa-chevron-up"></span>
            </a>
          </div>

          <div class="col-xs-6 border-left noOnetCompare col-right" ng-show="onetIsNull(career2.onet_titles[0].name)">
            <div>
              <h5>No Data</h5>
              <p>Sorry, we don't have this data for 
                <strong>{{career2.standardized_title}}</strong>.</p>
              <p><a href="">Read more about our data sources</a>.</p>
            </div>
          </div>

        </div>

        <!-- SALARY -->
        <div class="row">
          <div class="col-xs-12">
            <h5>SALARY</h5>
          </div>

          <!-- Left column -->
          <div class="col-xs-6 subSection border-right col-left" ng-hide="onetIsNull(career1.onet_titles[0].name)">
            <table>
              <tr>
                <td>San Francisco Bay Area</td>
                <td>{{career1.salary.annual_salary_bay_area | currency}}</td>
              </tr>
              <tr>
                <td>California</td>
                <td>{{career1.salary.annual_salary_ca | currency}}</td>
              </tr>
            </table>
          </div>

          <div class="col-xs-6 border-right noOnetCompare col-left" ng-show="onetIsNull(career1.onet_titles[0].name)">
            <div>
              <h5>No Data</h5>
              <p>Sorry, we don't have this data for 
                <strong>{{career1.standardized_title}}</strong>.</p>
              <p><a href="">Read more about our data sources</a>.</p>
            </div>
          </div>

          <!-- Right Column -->
          <div class="col-xs-6 subSection border-left col-right" ng-hide="onetIsNull(career2.onet_titles[0].name)">
            <table>
              <tr>
                <td>San Francisco Bay Area</td>
                <td>{{career2.salary.annual_salary_bay_area | currency}}</td>
              </tr>
              <tr>
                <td>California</td>
                <td>{{career2.salary.annual_salary_ca | currency}}</td>
              </tr>
            </table>
          </div>

          <div class="col-xs-6 border-left noOnetCompare col-right" ng-show="onetIsNull(career2.onet_titles[0].name)">
            <div>
              <h5>No Data</h5>
              <p>Sorry, we don't have this data for 
                <strong>{{career2.standardized_title}}</strong>.</p>
              <p><a href="">Read more about our data sources</a>.</p>
            </div>
          </div>

        </div>

        <!-- EDUCATION -->
        <div class="row">
          <div class="col-xs-12">
            <h5>EDUCATION</h5>
          </div>

          <!-- Left Column -->
          <div class="col-xs-6 subSection border-right col-left" ng-hide="onetIsNull(career1.onet_titles[0].name)">
            <ul>
              <li ng-repeat="(degree, percent) in career1.education">
                {{degree}} {{percent}}%
              </li>
            </ul>
          </div>

          <div class="col-xs-6 border-right noOnetCompare col-left" ng-show="onetIsNull(career1.onet_titles[0].name)">
            <div>
              <h5>No Data</h5>
              <p>Sorry, we don't have this data for 
                <strong>{{career1.standardized_title}}</strong>.</p>
              <p><a href="">Read more about our data sources</a>.</p>
            </div>
          </div>

          <!-- Right Column -->
          <div class="col-xs-6 subSection border-left col-right" ng-hide="onetIsNull(career2.onet_titles[0].name)">
            <ul>
              <li ng-repeat="(degree, percent) in career2.education">
                {{degree}} {{percent}}%
              </li>
            </ul>
          </div>

          <div class="col-xs-6 border-left noOnetCompare col-right" ng-show="onetIsNull(career2.onet_titles[0].name)">
            <div>
              <h5>No Data</h5>
              <p>Sorry, we don't have this data for 
                <strong>{{career2.standardized_title}}</strong>.</p>
              <p><a href="">Read more about our data sources</a>.</p>
            </div>
          </div>

        </div>

        
      </div>
     
    </div>

  </div> 

</div>
