<div class="home col-xs-12">

  <!-- SEARCH BOX CTA -->

  <div class="col-xs-6 col-xs-offset-3" id="cta-search-box" ng-if="!resultsLoading">

    <form class="form-horizontal" onsubmit="this.reset(); return false;" name="homeQuery" role="form">
      <div class="form-group">

        <div class="col-xs-10 col-xs-offset-1">

          <label class="search-label">
            <h2>Explore career profiles. Find a better career.</h2>
          </label>

          <div class="input-group input-group-lg">
            <input type="text" name="text" class="form-control" placeholder="Job Title, Keywords, or Industry" ng-model="searchQuery"/>
            <span class="input-group-btn">
              <button ng-click="setQuery(searchQuery)" class="btn btn-primary" aria-label="search" ui-sref="results({queryString: queryStringURL})">
                <span class="fa fa-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>

        </div>

      </div>
    </form>

  </div>  <!-- End Search Box CTA -->

  <div class="col-xs-12 text-center">
    <span class="fa fa-chevron-down fa-2x"></span>
  </div>

  <!-- PRODUCT DESCRIPTION -->

  <div class="col-xs-12" id="productDescription">
    <div class="col-xs-10 col-xs-offset-1">

      <h1 class="text-center">Want to change careers? Pivot can help.</h1>

      <div class="col-xs-4 productInfo">
        <h4>Find Other Careers</h4>
        <p>Whether you have a new career in mind or not, Pivot helps you search hundreds of career profiles to find a better career fit for you.</p>
      </div>

      <div class="col-xs-4 productInfo">
        <h4>Understand Your Options</h4>
        <p>Our career profiles are based on data aggregate from thousands of real Bay Area job postings. Explore the data to get a deeper understanding of your options.</p>
      </div>

      <div class="col-xs-4 productInfo">
        <h4>Take the Next Step</h4>
        <p>Prepare for your next career by building new skills and targeting your resume. We'll give you head start for finding free online classess and tips for updating your resume.</p>
      </div>

    </div>
  </div>

  <!-- BROWSING HELP -->

  <div class="col-xs-8 col-xs-offset-2 text-center" id="browsingHelp">

    <div class="col-xs-4">
      <h4>See Popular Careers</h4>
      <ul>
        <li ng-repeat="career in topCareers | limitTo: 5">
          <a href="">{{career}}</a>
        </li>
      </ul>
    </div>

    <div class="col-xs-4">
      <h4>Search Top Skills</h4>
      <ul>
        <li ng-repeat="skill in topSkills | limitTo: 5">
          <a ng-click="setQuery(skill)" aria-label="search for {{skill}}" ui-sref="results({queryString: queryStringURL})">
            {{skill}}
          </a>
        </li>
      </ul>
    </div>

    <div class="col-xs-4">
      <h4>Search Top Industries</h4>
      <ul>
        <li ng-repeat="industry in topIndustries | limitTo: 5">
          <a ng-click="setQuery(industry)" aria-label="search for {{industry}}" ui-sref="results({queryString: queryStringURL})">
            {{industry}}
          </a>
        </li>
      </ul>
    </div>

  </div>
  
</div>