<div class="col-xs-3 sidebar">

    <!-- SEARCH -->

    <div class="row">

        <div class="sidebar card" ng-hide="(queryStack.length == 0) && (viewedCareers.length == 0)">

<!--           <form class="form-horizontal" name="resultsQuery" role="form">
            <div class="form-group"> 
              <div class="input-group input-group-sm">
                <input type="text" name="text" class="form-control" ng-model="query"/>
                <span class="input-group-btn">
                  <button ng-click="setQuery(query)" class="btn btn-primary" aria-label="search" ui-sref="results(query)">
                    <span class="fa fa-search" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>
          </form> -->

          <form name="resultsQuery" role="form" ng-submit="setQuery(query)" ui-sref="results(query)">
            <div class="form-group">
              <label class="sr-only">Search</label>
              <div class="inner-addon right-addon">
                <span class="fa fa-search"></span>
                <input type="text" class="form-control" placeholder="Search" ng-model="query" />
              </div>
            </div>
          </form>


          <!-- <a><span class="fa fa-times query-link" ng-click="setQuery('')" aria-label="clear search"> clear search</span></a> -->

          <h6 ng-hide="queryStack.length == 0">Recent Searches</h6>
          <ul class="sidebarList">
            <li ng-repeat="q in queryStack track by $index"><a class="query-link" ng-click="setQuery(q)" ui-sref="results(query)">{{q}}</a></li>
          </ul>

          <h6 ng-hide="viewedCareers.length == 0">Recently Viewed Careers</h6>
          <ul class="sidebarList">
            <li ng-repeat="v in viewedCareers" class="text-capitalize">
                <a ui-sref="careerView({careerId: v.id})" ng-click="viewCareer(v.name, v.id)">
                  {{v.name}}
                </a>
              <span class="fa fa-thumb-tack pin colorTransFast sidebarListTail" aria-label="pin this career" ng-class="{pinSelected: isPinned(v.id)}" ng-click="togglePinnedCareer(v.name, v.id)"></span>
            </li>
          </ul>

        </div>
    </div>

    <!-- COMPARE / PINNED CAREERS  -->

    <div class="row">
      <div class="sidebar card">

        <h4 class="cardTitle">
          <span class="fa fa-thumb-tack"></span>
          Pinned Careers
        </h4>

        <div ng-hide="pinnedCareers.length != 0">
          <p>Click on the pin icon 
            ( <span class="fa fa-thumb-tack"></span> )
              to save careers here for later.
          </p>
        </div>

        <div ng-hide="pinnedCareers.length == 0">

          <span class="text-muted small">select 2 careers to compare</span>

          <ul class="sidebarList pinnedList">
            <li ng-repeat="p in pinnedCareers track by $index" class="text-capitalize">
              <table>
                <tr>
                  <td class="sidebarColLeft">
                    <span class="checkbox fa" ng-class="{'fa-check-square': isCompared(p.id), 'fa-square-o': !isCompared(p.id), 'fa-square': isNotActive(p.id)}" aria-label="select career" ng-click="toggleComparedCareer(p.id)"></span>
                  </td>
                  <td class="sidebarColMid">
                    <a ui-sref="careerView({careerId: p.id})" ng-click="viewCareer(p.name, p.id)">
                      {{p.name}}
                    </a>
                  </td>
                  <td class="sidebarColRight">
                    <span class="fa fa-times xRemove colorTransFast listIconTail" aria-label="remove from pinned careers" ng-click="togglePinnedCareer(p.name, p.id)"></span>
                  </td>
                </tr>
              </table>
            </li>
          </ul>

          <button type="button" class="btn btn-primary btn-block colorTransFast" id="compareButton" ng-disabled="comparedCareers.length != 2" ui-sref="compareView({careerId1: comparedCareers[0], careerId2: comparedCareers[1]})" >COMPARE CAREERS</button>

        </div>

        

      </div>
    </div>

</div>