<div class="col-xs-3 sidebar">

    <!-- SEARCH -->

    <div class="row">
        <div class="sidebar card">
          <form class="form-horizontal" name="resultsQuery" role="form">
            <div class="form-group"> 
              <div class="input-group input-group-sm">
                <input type="text" name="text" class="form-control" ng-model="query"/>
                <span class="input-group-btn">
                  <button ng-click="setQuery(query)" class="btn btn-primary" aria-label="search" ui-sref="results(query)">
                    <span class="fa fa-search" aria-hidden="true"></span>
                  </button>
                </span>
              </div>
            </div>
          </form>
          <a><span class="fa fa-times query-link" ng-click="setQuery('')" aria-label="clear search"> clear search</span></a>
          
          <h5>Recent Searches</h5>
          <ul class="sidebarList">
            <li ng-repeat="q in queryStack track by $index"><a class="query-link" ng-click="setQuery(q)" ui-sref="results(query)">{{q}}</a></li>
          </ul>

          <h5>Recently Viewed Careers</h5>
          <ul class="sidebarList">
            <li ng-repeat="v in viewedCareers" class="text-capitalize">
                <a ui-sref="careerView({careerId: v.id})" ng-click="viewCareer(v.name, v.id)">
                  {{v.name}}
                </a>
              <span class="fa fa-thumb-tack pin colorTransFast sidebarListTail" aria-label="pin this career" ng-class="{pinSelected: isPinned(v.id)}" ng-click="togglePinnedCareer(v.name, v.id)"></span>
            </li>
          </ul>

        </div>
    </div>

    <!-- COMPARE / PINNED CAREERS  -->

    <div class="row">
      <div class="sidebar card">

        <h4 class="cardTitle">Pinned Careers</h4>

        <!-- <h5>Pinned Careers</h5> -->
          <ul class="sidebarList">
            <li ng-repeat="p in pinnedCareers track by $index" class="text-capitalize">
              <table>
                <tr>
                  <td class="sidebarColLeft">
                    <span class="checkbox fa" ng-class="{'fa-check-square': isCompared(p.id), 'fa-square-o': !isCompared(p.id), 'fa-square': isNotActive(p.id)}" aria-label="select career" ng-click="toggleComparedCareer(p.id)"></span>
                  </td>
                  <td class="sidebarColMid">
                    <a ui-sref="careerView({careerId: p.id})" ng-click="viewCareer(p.name, p.id)">
                      {{p.name}}
                    </a>
                  </td>
                  <td class="sidebarColRight">
                    <span class="fa fa-times xRemove colorTransFast sidebarListTail" aria-label="remove from pinned careers" ng-click="togglePinnedCareer(p.name, p.id)"></span>
                  </td>
                </tr>
              </table>
            </li>
          </ul>

<!--         <h5>Recently Viewed Careers</h5>
          <ul class="sidebarList">
            <li ng-repeat="v in viewedCareers" class="text-capitalize">
              <span class="checkbox fa" ng-class="{'fa-check-square': isCompared(v.id), 'fa-square-o': !isCompared(v.id)}" aria-label="select career" ng-click="toggleComparedCareer(v.id)"></span>
                <a ui-sref="careerView({careerId: v.id})" ng-click="viewCareer(v.name, v.id)">
                  {{v.name}}
                </a>
              <span class="fa fa-thumb-tack pin colorTransFast sidebarListTail" aria-label="pin this career" ng-class="{pinSelected: isPinned(v.id)}" ng-click="togglePinnedCareer(v.name, v.id)"></span>
            </li>
          </ul> -->

        <button type="button" class="btn btn-default btn-block" ui-sref="compareView({careerId1: comparedCareers[0], careerId2: comparedCareers[1]})" >COMPARE CAREERS</button>

      </div>
    </div>

</div>