
<div class="row ">

  <!-- SIDEBAR -->

  <div class="col-xs-3 sidebar">

    <!-- RECENT SEARCHES -->

    <div class="row">
        <div class="history card">
          <h4 class="cardTitle">Search</h4>
          <h5>Recent Searches</h5>
          <ul>
            <li ng-repeat="q in queryStackData track by $index">{{q}}</li>
          </ul>
        </div>
    </div>

    <!-- COMPARE  -->

    <div class="row">
      <div class="compare card">
        <h4 class="cardTitle">Compare Careers</h4>
        <h5>Pinned Careers</h5>
          <ul>
            <li ng-repeat="p in pinnedCareers track by $index" class="careerName">
              <span class="fa fa-square-o checkbox" aria-label="select career" ng-click="" ng-class="ng-show"></span>
              {{p}}
              <span class="fa fa-times xRemove colorTransFast" aria-label="remove from pinned careers" ng-click="togglePinnedCareer(p)"></span>
            </li>
          </ul>
        <h5>Recently Viewed Careers</h5>
        <button type="button" class="btn btn-default btn-block">COMPARE</button>
      </div>
    </div>

  </div>

<!-- MAIN -->

  <div class="col-xs-9 main">
    
    <!-- CAREER PROFILE -->

    <div class="row">

      <div class="profile card">

        <h2 class="cardTitle careerName">{{career.standardized_title}}
          <span class="fa fa-thumb-tack pin colorTransFast" aria-label="pin this career" ng-class="{pinSelected: isPinned(career.standardized_title)}" ng-click="togglePinnedCareer(career.standardized_title)"></span>
        </h2>

        <!-- Section: About This Career-->

        <div class="section">

          <h3 class="col-xs-12 sectionTitle">About This Career</h3>

          <div class="col-xs-12 subSection">
            <h5>ACTIVITIES</h5>
            <ul class="fa-ul">
              <li ng-repeat="activity in placeholderText" class="longListItem">
                <span class="fa fa-li fa-angle-right fa-lg"></span>
                {{activity.text}}
              </li>
            </ul>
          </div>

          <div class="col-xs-12 subSection">
            <h5>SKILLS</h5>
            <ul>
              <li ng-repeat="skill in career.skills | orderBy: '-count' | limitTo: 20">
                {{skill.name}} ({{skill.count}})</li>
            </ul>
          </div>

          <div class="tags-wrapper col-xs-12 subSection">
            <h5>INDUSTRIES</h5>
            <ul>
              <li ng-repeat="category in career.categories | limitTo: 10" >
                <span class="industryTag colorTransFast">
                {{category.name}} ({{category.count}})</span>
              </li>
            </ul>
          </div>

          <div class="col-xs-12 subSection">
            <h5>WORK ENVIRONMENT</h5>
            <ul class="fa-ul">
              <li ng-repeat="activity in placeholderText | limitTo: 4" class="longListItem">
                <span class="fa fa-li fa-angle-right fa-lg"></span>
                {{activity.text}}</li>
            </ul>
          </div>

          <div class="col-xs-6 subSection">
            <h5>SALARY</h5>
          </div>
            
          <div class="col-xs-6 subSection">
            <h5>EDUCATION</h5>
          </div>

          <div class="col-xs-12 sourceBox">
            <h6>Data Source</h6>
            <span>
              This career profile is a composite of <strong>{{career.job_ids.length}} job 
              postings</strong> and the O*NET profile for 
              <a href="http://www.onetonline.org/link/summary/{{career.onet_codes[0].name}}" target="_blank">{{career.onet_titles[0].name}}</a>. 
              Salary information is sourced from the Bureau of Labor Statistics 
              <a href="http://www.bls.gov/oes/current/oessrcma.htm" target="_blank">2014 wage data</a>.
            </span>
          </div>

        </div>

        <div class="col-xs-12 hr"></div>

        <!-- Section: Related Careers -->

        <div class="section">
        
          <h3 class="col-xs-12 sectionTitle">Related Careers</h3>

          <div class="subSection"></div>

        </div>

        <div class="col-xs-12 hr"></div>

        <!-- Section: Get Hired -->

        <div class="section">
          
          <h3 class="col-xs-12 sectionTitle">Get Hired</h3>

          <div class="subSection"></div>

          <div class="col-xs-4 subSection">
            <h5>TOP COMPANIES</h5>
            <ul>
              <li ng-repeat="company in career.companies | orderBy: '-count' | limitTo:6">{{company.name}} ({{company.count}})</li>
            </ul>
          </div>

          <div class="col-xs-4 subSection" >
            <h5>SAMPLE JOB TITLES</h5>
            <ul>
              <li ng-repeat="title in career.job_titles | orderBy: '-count' | limitTo:6">{{title.name}} ({{title.count}})</li>
            </ul>
          </div>

          <div class="col-xs-4 subSection">
            <h5>RESUME KEYWORDS</h5>
          </div>

        </div>

        <div class="col-xs-12 hr"></div>

        <!-- Section: Learn Something New -->

        <div class="section">

          <h3 class="col-xs-12 sectionTitle">Learn Something New</h3>

          <div class="subSection"></div>

        </div>

        <div class="col-xs-12 hr"></div>

        <!-- Section: Meet Cool People -->

        <div class="section">

          <h3 class="col-xs-12 sectionTitle">Meet Cool People</h3>

          <div class="subSection"></div>

        </div>

      </div>
     
    </div>

    <!-- End of Main -->

  </div>

</div>
